:root {
    --navbar-highlight-purple: #A020F0;
    --text-color-secondary: #b0b0b0;
    --navbar-text-dark-bg: #333333;
    --background-color-light: #ffffff;
    --navbar-logo-color: rgb(0, 0, 0);
    --navbar-icon-color-default: rgb(0, 0, 0);
    --background-text-color-gray: gray;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-light);
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


a,
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.equalizer,
#menuIcon,
.project-card,
.project-card a,
.project-card button {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    outline: none;
}

a:focus,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
.equalizer:focus,
#menuIcon:focus,
.project-card a:focus,
.project-card button:focus {
    outline: none;
}


/* Initial state: Hidden and slightly shifted */
.reveal-item {
    opacity: 0;
    transform: translateY(100px); /* Start slightly below its final position */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
    will-change: opacity, transform; 
}

/* State when it becomes visible (added by JavaScript) */
.reveal-item.revealed {
    opacity: 1;
    transform: translateY(0); /* Move to its final position */
}






/* ----------------------------------------------------------------------------------------------------------------------------------
                        NAVBAR
---------------------------------------------------------------------------------------------------------------------------------- */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 50px 70px;
    background: transparent;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.navbar-container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo svg {
    color: var(--navbar-logo-color);
    width: 30px;
    height: 30px;
    stroke-width: 2;
}

.menu-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.menu-icons svg {
    color: var(--navbar-icon-color-default);
    width: 30px;
    height: 30px;
    stroke-width: 2;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-icons svg:hover {
    color: var(--navbar-highlight-purple);
}

.background-text {
    position: absolute;
    right: -110px;
    top: 200%;
    transform: translateY(-50%) rotate(90deg);
    font-size: 200px;
    font-weight: 700;
    color: var(--background-text-color-gray);
    opacity: 0.35;
    white-space: nowrap;
    text-transform: uppercase;
    pointer-events: none;
    z-index: 1;
    letter-spacing: 15px;
}

@media (max-width: 1024px) {
    .navbar {
        padding: 30px 40px;
    }

    .background-text {
        font-size: 150px;
        right: -93px;
        letter-spacing: 10px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 30px 30px;
    }

    .logo svg,
    .menu-icons svg {
        width: 25px;
        height: 25px;
    }

    .logo-circle {
        width: 10px;
        height: 10px;
    }

    .background-text {
        font-size: 100px;
        right: -48px;
        letter-spacing: 5px;
        opacity: 0.1;
    }
}


@media (max-width: 480px) {
    .navbar {
        padding: 30px 30px;
    }

    .background-text {
        font-size: 100px;
        right: -57px;
    }
}

.equalizer {
    width: 40px;
    height: 40px;
}

.bar {
    transform-origin: bottom;
}

.equalizer.playing .bar {
    animation: bounceBar 1s ease-in-out infinite;
}

.equalizer.playing .equalizer-group:nth-child(2) .bar {
    animation-delay: 0.2s;
}

.equalizer.playing .equalizer-group:nth-child(3) .bar {
    animation-delay: 0.4s;
}

@keyframes bounceBar {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.6);
    }
}